@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    outline: 1px solid green;
} */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.certificate {
  margin-top: 50px;
}

.s2 {
  width: 100%;
  padding-bottom: 50px;
}

.ss-2 {
  background-position: center;
  background-size: cover;
  height: 220px !important;
  width: 300px !important;
}

.ss-2 img {
  display: block;
  width: 100%;
}
